<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log-path">${sys:log-path:-logs}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %highlight{%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n}{FATAL=red, ERROR=red,
                    WARN=yellow, INFO=green, DEBUG=white, TRACE=blue}
                </pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Charset>UTF-8</Charset>
        </Console>
        <RollingFile name="Logger" fileName="${log-path}/app.log"
                     filePattern="${log-path}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n">
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${log-path}" maxDepth="1">
                    <IfFileName glob="app-*.log"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logger"/>
        </Root>
    </Loggers>
</Configuration>
